<h2>編集</h2>
<%= form_tag("/workouts/#{@workout.id}/update") do %>
  <p>種目名</p>
  <input name="workout_name" value="<%= @workout.name %>">
  <p>部位</p>
    <input readonly name="category_name" value="<%= @workout_category.name %>">
    <%= link_to("部位を変更する","/workouts/#{@workout.id}/choose_category") %>
  <input type="submit" value="保存">
<% end %>