<h2>新規ルーティンを作成</h2>
<%= form_tag("/routines/create") do %>
  
  <% @routine.errors.full_messages.each do|error_message| %>
    <div class="error_message">
      <%= error_message %>
    </div>
  <% end %>

  <p>ルーティン名</p>
  <input name="name" value="<%= @routine.name%>">
  <input type="submit" value="登録">
<% end %>