<h2>ユーザー情報を編集</h2>
<%= form_tag("/users/#{@user.id}/update") do %>
  <div class="form">
    
    <% @user.errors.full_messages.each do|error_message| %>
      <div class="error_message">
        <%= error_message %>
      </div>
    <% end %>

    <div class="form-body">
      <p>ユーザー名</p>
      <input name="name" value="<%= @user.name %>">
      <p>メールアドレス</p>
      <input name="email" value="<%= @user.email %>">
      <input type="submit" value="登録">
    </div>
  </div>
<% end %>