<div class="main login-form">
  <div class="container">
    <h2>ログイン</h2>
    <%= form_tag("#") do %>
      <div class="form">

        <% if @error_message %>
          <div class="error_message">
            <%= @error_message %>
          </div>
        <% end %>

        <div class="form-body">
          <p>メールアドレス</p>
          <input name="email">
          <p>パスワード</p>
          <input name="password" type="password">
          <input type="submit" value="ログイン">
        </div>
      </div>
    <% end %>
  </div>
</div>
