<div class="main users-new">
  <div class="container">
    <h2>新規ユーザー登録</h2>
    <%= form_tag("/users/create") do %>
      <div class="form">

        <% @user.errors.full_messages.each do|error_message| %>
         <div class="error_message">
            <%= error_message %>
          </div>
        <% end %>

        <div class="form-body">
          <p>ユーザー名</p>
          <input name="name" value="<%= @user.name %>">
          <p>メールアドレス</p>
          <input name="email" value="<%= @user.email %>">
          <p>パスワード</p>
          <input name="password" type="password">
          <input type="submit" value="登録">
        </div>
      </div>
    <% end %>
  </div>
</div>