<h2><%= @user.name %></h2>
<p><%= @user.email %></p>
<% if @current_user == @user %>
  <%= link_to("編集","/users/#{@user.id}/edit") %>
  <%= link_to("削除","/users/#{@user.id}/destroy",data:{"turbo-method": :post}) %>
<% end %>