<% if @error_message %>
  <div class="error_message">
    <%= @error_message %>
  </div>
  <p><%= link_to("新規種目登録","/workouts/new/0") %></p>
<% end %>

<% @workouts.each do |workout| %>
  <%= link_to(workout.name,"/record/#{@date}/new/#{workout.id}")%>
<% end %>